.education{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px); 
    h1{
        padding:40px;
    }
    img{
        margin-top: 10px;
        width: auto;
        height: auto;
    }

}
@media screen and (max-width: 500px) {
  
    .education 
    img{
        width: 70%;
    }
}