.app{
    height: 100vh;
    .sections{
        width: 100%;
        height: fit-content;
        background-color: white(255, 255, 255);
        position: absolute;
        top: 10px;
        scroll-behavior: smooth;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        scroll-snap-type: y mandatory ;

        >*{
            padding: 10px;
            height: 70vh;
            &.socials{
                height: 55vh;
            }
            width: 100vw;
            scroll-snap-align: start;
        }
    }
}
    
